@use "../modules" as *;

.center {
    display: grid;
    margin-inline: auto;
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    width: min(100% - px(40), px(1140));
    @include breakpoint(tablet) {
        grid-template-columns: 1fr 1fr;
    }
    &__copy {
        span {
            color: $colourGreen;
            font-weight: 600;
        }
        p {
            font-size: px(18);
            margin-bottom: px(30);
        }
        h3 {
            margin: px(20) 0;
            font-weight: 600;
            font-size: px(55);
        }
    }
}

.chat {
    height: 670px;
    border-radius: px(10);
    background-color: #f2f5f8;
    display: grid;
    margin-inline: auto;
    align-items: start;
    align-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    // justify-items: center;
    width: min(100%, px(500));
}

textarea {
    width: 90%;
    height: 50px;
    border-radius: 0.5em;
    resize: none;
}

input[type="submit"] {
    display: block;
    padding: 8px 12px;
    border-radius: 0.5em;
}

.chat-messages {
    color: white;
    width: 300px;
    word-wrap: break-word;
    float: left;
    clear: both;
    border-radius: 0 px(10) px(10) px(10);
    padding: px(5) px(20);
    background-color: $colour2;
    margin-bottom: px(5);
    p {
        font-size: px(14);
        span {
            font-size: px(10);
            font-style: italic;
        }
    }
}

.other-messages {
    float: right;
    border-radius: px(10) 0 px(10) px(10);
    background-color: $colour1;
}

.chat {
    background-color: $colour3;
    box-shadow: 6px 3px 10px rgba(0, 0, 0, 0.16);
}

.chat-window {
    h2 {
        font-size: px(14);
    }
}

.recieve_container {
    background-color: $colour3;

    padding: px(20);
    overflow-y: scroll;
    height: px(550);
}

.message_container {
    border-radius: px(20);
    padding: px(20);
    gap: px(15);
    display: flex;
    background-color: $colour3;
}

.typing-event {
    height: px(20);
    p {
        margin-top: px(10);
        margin-left: px(20);
        font-size: px(12);
        color: $colour-darkest;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $colour1;
}

::-webkit-scrollbar-track {
    background-color: $colour2;
}

/* for some modern browsers */
