<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>team contact page</title>
</head>
<body>
    <!-- <header>
    <a href="/">home page</a>
<a href="/chat">Services page</a>
<a href="/contact">Contact page</a>
</header> -->
<header class="header">
    <section class="header__logo-nav">
        <div class="header__logo">
            <img src="/images/safe-logo-3.svg" alt="" />
        </div>
        <div class="header__contact">
            <div class="header__mail">
                <i class="fa-solid fa-envelope"></i>
                <p>info@safesearch.com</p>
            </div>
            <div class="header__phone">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <p>1.800.888.8888</p>
            </div>
        </div>
    </section>
    <nav class="header__nav">
        <ul>
            <a class="header__nav-selected" href="/">Home</a>
            <a href="#">About Us</a>
            <a href="#">Services</a>
            <a href="#">Team</a>
            <a href="/contact">Contact</a>
            <a href="/chat">Chat</a>
        </ul>
    </nav>
</header>
<main>
    <section class="sliding">
        <div class="sliding__container">
            <div class="sliding__section">
                <img src="./images/carosel01.jpg" alt="header img" />
                <div class="sliding__content1">
                    <h2>EVERYONE <br />DESERVES <br />A CHANCE</h2>
                    <h3>to play & be happy</h3>
                    <div class="sliding__buttons">
                        <div class="btn2">
                            <a href="#">read more</a>
                        </div>
                        <div class="btn">
                            <i class="fa-solid fa-play"></i>
                            <a href="#">watch video</a>
                            <a href="/firstlink">firstlink</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sliding__section">
                <img src="./images/carosel02.jpg" alt="header img" />
                <div class="sliding__content2">
                    <h2>BASKETBALL <br />IS A TEAM SPORT</h2>
                    <h3>leave the bullying off the court</h3>
                    <div class="sliding__buttons">
                        <div class="btn2">
                            <a href="#">read more</a>
                        </div>
                        <div class="btn">
                            <i class="fa-solid fa-play"></i>
                            <a href="#">watch video</a>
                            <a href="/secondlink">secondlink</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sliding__section">
                <img src="./images/carosel03.jpg" alt="header img" />
                <div class="sliding__content3">
                    <h2>BASKETBALL IS A <br />GAME FOR EVERYONE</h2>
                    <h3>regardless of race and gender</h3>
                    <div class="sliding__buttons">
                        <div class="btn2">
                            <a href="#">read more</a>
                        </div>
                        <div class="btn">
                            <i class="fa-solid fa-play"></i>
                            <a href="#">watch video</a>
                            <a href="/thirdlink">Thirdlink</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <footer class="footer">
        <div class="spacer2"></div>
        <nav class="footer__nav">
            <section class="footer__links">
                <div>
                    <h3>Official Links</h3>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                            <a href="#">Service</a>
                            <a href="#">About us</a>
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="footer__useful">
                <div>
                    <h3>Useful Links</h3>
                    <ul>
                        <li>
                            <a href="#">Help</a>
                            <a href="#">History</a>
                            <a href="#">Support</a>
                            <a href="#">Faq</a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="footer__contact">
                <h3>Contact Information</h3>
                <div>
                    <i class="fa-solid fa-location-dot"></i>

                    <p>
                        1001 Fanshawe College Blvd, London, ON N5Y 5R6
                    </p>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <p>yourmail@gmail.com</p>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>011548454544</p>
                </div>
            </section>
            <section class="footer__logo">
                <div>
                    <img src="/images/safe-logo-white.svg" alt="" />
                </div>
                <div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Magnam earum ratione veritatis
                        sint. Aliquid error perferendis quod a
                        dignissimos ea.
                    </p>
                </div>
                <div>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </section>
            <section class="footer__reserve">
                <p>Copyright by SAFEREACH 2023. All rights reserved.</p>
            </section>
        </nav>
    </footer>
</body>
</html>




